/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*


/*
TO DO's
 [] List subredditts along the top of the page
 [] Place login and register on right hand side of page
 [] Place posts in middle of page

*/

#subreddit_list{
  display: block;
  margin-top: -15px;
  /*border-bottom: 1px solid black;*/
  background-color: #F0F0F0;
  /*margin: -20px;*/
  padding-bottom:-15px;
  height:20px;
}

.subreddit_name{
  display: inline-block;
  padding-left:3px;
  list-style-type: none;
  font-family: verdana;
}

.subreddit_name a{
  font-size: .6em;
  text-decoration: none;
}

#login_form{
  margin-top: -20px;
  float: right;
}

#logo_text h1{
  background-color: #CEE3F8;
  margin-top: 0;
  margin-bottom: 0;
  /*padding-top: -5px;*/
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}

#header_bar{
  background-color: #CEE3F8;
  border-bottom: 2px solid #8FA3B8;
  border-top: 2px solid #8FA3B8;
}


#logo_header{
  display: inline-block;
}

#logo_text{
  display: inline-block;
}

#front a{
  color: red;
  font-weight: bold;
}

#user-box{
  background-color:#EFF7FF;
  color: #808087;
  font-family: verdana;
  font-size: .7em;
  /*padding-bottom: 2px;*/
  padding: 2px 25px 2px 2px;
  border-top-left-radius: 5px;
}

li{
  list-style-type: none;
}

#container{
  /*border: 1px black solid;*/
  width: 80%;
}

#container a{
  text-decoration: none;
}

.arrows-number{
  color:#B7B7B7;
}

.arrows-number img{
  display: block;
  margin-left: -8px;
}

.arrow-post-show{
  float: left;
  margin-top: 20px;
  margin-left: 15px;
}

.arrow-post-show img{
  display: block;
  margin-left: -8px;
}

.arrow-comment-show{
  /*float:left;*/
  display: block;
  font-family: verdana;
  font-size: .8em;
  margin-top: 10px;
  margin-bottom: -20px;

}

.arrow-comment-show img{
  display: block;
  margin-left: -8px;
}
.comment-author{
  font-family: verdana;
  font-weight: bold;
  color: #369;
  font-size: .8em;

}
.comment-body{
  font-family: verdana;
  font-size: .8em;
  padding-left: 20px;
  padding-top: -60px;
  position: relative;
  margin-bottom: 10px;
  /*padding-bottom: 80px;*/
}
.comment-cohort{
  color: #888;
  font-size: .8em;
}
.post-container{
  /*border: 1px black solid;*/
  margin-left: 40px;
  position: relative;
  font-family: verdana;
  font-size: .9em;
  padding: 25px;
  width: 75%;
}

.post-container img {
  float: left;
  margin-right: 20px;
}

.actual-post{
  padding: 15px;
  display: block;
}

.title-container-img{
/*  position: relative;*/
  margin-left: 25px;
  margin-top: -80px;
  padding-left: 25px;
}
.title-container-img a{
  margin-bottom: 40px;
  margin-top: 20px;
  font-family: verdana;
}
.title-with-image{
  margin-left: 150px;
  float: left;
  padding-top: 20px;
  margin-bottom: -40px;
}

.title-container{
  position: relative;
  margin-left: 25px;
  margin-top: -40px;
  padding-bottom: 30px;
  padding-left: 25px;
  font-family: verdana;
  width: 70%;
}

.karma{
  float: right;
  margin-top: 2%;
  margin-right: -15%;
  font-family:verdana;
  border-bottom: 1px solid black;
  width: 20%;
}

.user-posts{
  float: left;
  width: 75%;
  font-family: verdana;
}
.subscribe{
  background: green;
    font-family: verdana;
  color: white;
}

.subscribed{
  font-family: verdana;
  color: white;
  background-color: #CF6165;
}
.subscribed:hover{
  font-family: verdana;
  color: white;
  visibility: hidden;
}

.subreddit-info{
  float: right;
  margin-top: 5%;
 /*position: relative;*/
  margin-right: -20%;
  font-family:verdana;
  width: 20%;
}
.subreddit-info h1{
  text-align: left;
}
.thumbnail img{
  width: 140px;
  height: auto;
}
