<h1>Subreddits</h1>

<ul>
<%@subreddits.each do |subreddit|%>
  <li><%= link_to subreddit.name, subreddit%></li>
  <%end%>
</ul>

<p>
  <%= link_to "Add New Subreddit", new_subreddit_path %>
  <br>
  <%= link_to "Login", login_path if session[:user_id] == nil %> <br>
  <%= link_to "Logout", logout_path, method: :delete, data: { confirm: 'Are you sure?' } if session[:user_id] %>
</p>


